<html>
<head>
    <title>Your Stylist</title>
</head>
<body>
    <h1>Your Stylist:</h1>
    <h2> {{ stylist.getStylistName }} </h2>

    {% if clients is not empty %}
        <p>Here are the clients for {{ stylist.getStylistName }} </p>
        <ul>
        {% for client in clients %}
            <li>{{ client.getClientName }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <h4>Add a client</h4>
    <form action="/clients" method="post">
        <input id="stylist_id" name="stylist_id" type="hidden" value="{{ stylist.getId }}">
        <label for='client_name'>Client name</label>
        <input id='client_name' name='client_name' type='text'>
        <button type='submit'>Add a client</button>
    </form>


    <p><a href="/stylist/{{ stylist.getId }}/edit">Edit this stylist</a></p>

    <p><a href="/">Home</a></p>

</body>
</html>
